h1{
  color:white; /* Cambia el color del titulo a blanco */
  background-color: red; /* Cambia el color de fondo del titulo a rojo */
  font-size: 35px; /* Cambia el tamaño de la fuente del titulo a 35px */
}

img{
  width: 400px; /* Modifica el ancho de la imagen a 400px */
  height: 400px; /* Modifica el alto de la imagen a 400px */
}

h2{
  color:white; /* Cambia el color del subtitulo a blanco */
  background-color: red; /* Cambia eñ color de fondo del subtitulo a rojo */
  font-size: 20px; /* Cambia el tamaño de la fuente del subtitulo a 20px */
}

p{
  color: white; /* Cambia el color del parrafo a blanco */
  background-color: green; /* Cambia el color de fondo del parrafo a verde */
  font-size: 20px; /* Cambia el tamaño de la fuente del parrafo a 20px */
}

a{
  text-decoration: none; /* Quita el subrayado al enlace */
  color: black; /* Cambia el color de el enlace a negro */
}

a:hover{
  color: green; /* Hace que al posar el cursor sobre el enlace el color de este cambie a verde */
}
