<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>articulo1</title> <!--Es el encabezado de la pagina, lo que aparece en la pestaña del navegador-->
  <link rel="stylesheet" href="file://D:\MIS DOCUMENTOS\Desktop\tarea1\css\estilos.css"> <!--Es un enlace que conecta el archivo html con la hoja de estilo-->
  </head>

  <body>
<h1>Netflix: Estrenos de películas de 19 al 25 de julio</h1> <!--Contiene el titulo del articulo-->

<h2>'La última carta de amor', 'Trollhunters: El despertar de los titanes' y 'Cielo rojo sangre' destacan entre los títulos de esta semana.</h2> <!--Contiene el subtitulo del articulo-->

<img src="https://es.web.img3.acsta.net/r_654_368/newsv7/21/07/16/10/50/3259534.jpg" alt="No se pudo cargar la imagen"> <!--Contiene el enlace global de la imagen del articulo y un texto alternativo para mostrar en caso de que esta no pueda cargarse-->

<p>Si ya has visto la trilogía de La calle del terror, Igor contra el doctor Peste y La clásica historia de terror, no bajes la guardia porque una semana más Netflix llega dispuesto a ofrecerte los mejores contenidos cinematográficos. La plataforma sigue empeñada en hacerte pasar un verano de miedo, y estos próximos días estrena el drama de terror Cielo rojo sangre.</p> <!--Contiene el parrafo del articulo-->

<a href="../potreroDigital_ejercicio1.b_battista_patricio.html">Mas</a> <!--Contiene un enlace hacia el segundo articulo-->

  </body>
</html>
