<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tarea B</title> <!--Es en encabezado de la pagina, lo que el navegador muestra en la pestaña-->
  </head>
  <body>

<h1>'Loki 2': Todo lo que sabemos de la segunda temporada en Disney+</h1> <!--Es el titulo del articulo-->

<h2>Confirmado: la serie protagonizada por Tom Hiddleston, que ha dinamitado la línea temporal del Universo Cinematográfico de Marvel (UCM), volverá con nuevos episodios. </h2> <!--Es el subtitulo del articulo-->

<p>Los Lokis están maldecidos con un propósito glorioso, y 'Loki' también: su objetivo era volar por los aires la línea temporal sagrada del Universo Cinematográfico de Marvel (UCM) y desatar el caos para la próxima fase de la franquicia. ¡Y vaya si lo ha conseguido! Los seis episodios de la serie protagonizada por Tom Hiddleston ya están disponibles en Disney+, y el último ha venido con anuncio incorporado: la segunda temporada está confirmada y en camino. Y, viendo todo lo que ha ocurrido y todas las preguntas aún sin respuesta, no nos extraña nada. </p> <!--Es el parrafo del articulo-->

<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tom-hiddleston-loki-1625645233.jpg?resize=768:*" alt="No se pudo cargar la imagen"> <!--Contiene un enlace global a una imagen para ser mostrada en el articulo asi como una descripcion alternativa en caso de que la imagen no se pueda cargar-->

<a href="potreroDigital_ejercicio1.a_battista_patricio.html">'Loki' temporada 1: final explicado</a> <!--Contiene un enlace al primer articulo-->

  </body>
</html>
