<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="..\public\css\biografia.css">
    <title>Biografia Detallada</title>
  </head>

  <body>
<main>
  <h1>Datos sobre Wes Anderson</h1>
  <p>Nació: 01 Mayo 1969 | Estados Unidos
    Signo del zodiaco: Tauro</p>
  <h2>Biografía de Wes Anderson</h2>
  <div class="clase">
    <p>Wes Anderson nació en 1969 en Houston, Texas, Estados Unidos.

  Su padre Melver Leonard Anderson, trabajo en ventas y actualmente es dueño de una firma de relaciones publicas en Houston. Su madre, Texas Ann Burroughs, es arqueóloga, pero hoy esta dedicada al negocio inmobiliario.

  Tiene dos hermanos, Eric y Mel.

  Asistió al Westchester High School y St. John´s School. Fue en este último donde dirigió y escribió varias de sus obras, en el hoy demolido Hoodwink Theatre.

  Estudio filosofía en la Universidad de Texas, en donde conoció a Owen Wilson.

  Luego de producir una versión corta de “Bottle Rocket”(1994), ambos llamaron la atención del productor James L. Brooks y con su ayuda, lograron introducir su cortometraje en el Sundance Festival.

  Su trabajo esta dividido entre New York y Paris. Sus amigos incluyen a varios personajes del ambiente como Noah Bumbach, el ya nombrado Owen Wilson y la directora y actriz Sofia Coppola.

  Su hermano Eric, diseña sus sets de filmacion y los estilos de sus películas.

  Wes ha reconocido que los directores franceses Francois Truffaut y Louis Malle han influenciado sus tragicómicas y nada convencionales producciones. Asimismo ha nombrado a la película “El graduado” de Mike Nichols como parte de sus musas.

  Se lo conoce también, por su trabajo relacionado con obras de la literatura americana de F.Scott Fitzgerald y J.D. Salinger.

  La influencia de este último se ve en “Bottle Rocket” (1996), en donde los personajes de Anthony y su hermana se asemejan a Phoebe y Holden Caulfield del libro de Salinger. Para esta película, convoco a su amigo Owen Wilson y su hermano Luke Wilson.

  En el film “Academia Rushmore”(1998), cuyo reparto incluía a Bill Murray, Jason Schwartzman, Connie Nielsen y Luke Wilson, el personaje de Jason, era expulsado del colegio al igual que el personaje de Salinger, Caulfield.

  En “Los Tenenbaums: una familia de genios”(2001), la estructura de la familia se parece a la familia Glass de Salinger. Esta película fue protagonizada por Gene Hackman, Gwyneth Paltrow, Anjelica Houston y Ben Stiller, entre otros.

  Sus películas toman también inspiración en comics como Peanuts de Charles Schultz. Asimismo, el fotógrafo frances Jacques Henri Lartigue ha aportado su influencia ya que el nombre de su hermano, Zissou, fue usado para el nombre de la película “Life Aquatic”(2004) que en inglés se llama “The Life aquatic with Steve Zissou”.

  En esta última se vieron actuaciones de Cate Blanchet, Jeff Goldblum, Michael Gambon y Owen Wilson.

  En el 2005, produjo “Una historia de Brooklyn” dirigida por Noah Baumbach , con quien escribió ”Life Aquatic".

  En el 2006, dirigió y el comercial “My Life, My Card” para la firma American Express.

  En el 2007, realizó una seria de seis comerciales para la firma AT&T.

  En el 2007, dirigió “Hotel Chevalier” con Natalie Portman y “Viaje a Darjeeling” con Adrien Brody y Jason Schwartzman. Para esta última, viajo a la India durante la filmación y le rindió homenaje al director indio Satyajit Ray por su trabajo inspirador en sus películas.

  Para el 2009, se vera la adaptación del libro de Roald Dahl “Fantastic Mr Fox”.

  Sus películas son conocidas por su mezcla entre humor seco y su patetismo. Sus frecuentemente afectados personajes son mostrados desde un lado compasivo. Generalmente utiliza tomas lentas y música Folk y rock.

  Wes es conocido igualmente por involucrarse en todos los aspectos de sus películas, además de dirigirlas.
    </p>
    <img src="https://thecreative.net/blog/wp-content/uploads/2016/12/14344.jpeg" alt="No se puede cargar la imagen">
  </div>
  <a href="..\index.html">Volver al Inicio</a>

</main>


  </body>
</html>
