<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="..\public\css\filmografía.css">
    <title>Filmografía</title>
  </head>
  <body>
    <h1>Filmografía</h1>
    <div class="galeria_filmografia">
      <div class="poster_filmografia">
        <h2>The French Dispatch | 2021</h2>
        <img src="..\public\img\french_dispatch_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2> Isle of Dogs | 2018</h2>
        <img src="..\public\img\isle_of_dogs_ver3_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>The Grand Budapest Hotel | 2014</h2>
        <img src="..\public\img\grand_budapest_hotel_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>Moonrise Kingdom | 2012</h2>
        <img src="..\public\img\moonrise_kingdom_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>Fantastic Mr. Fox | 2009 </h2>
        <img src="..\public\img\fantastic_mr_fox_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>The Darjeeling Limited | 2007</h2>
        <img src="..\public\img\darjeeling_limited_ver2_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>The Life Aquatic with Steve Zissou | 2004 </h2>
        <img src="..\public\img\life_aquatic_with_steve_zissou.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>The Royal Tenenbaums | 2001 </h2>
        <img src="..\public\img\royal_tenenbaums_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>Rushmore | 1998</h2>
        <img src="..\public\img\rushmore_ver1_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
      <div class="poster_filmografia">
        <h2>Bottle Rocket | 1996</h2>
        <img src="..\public\img\bottle_rocket_xlg.jpg" alt="No se puede cargar la imagen">
      </div>
    </div>
    <a href="..\index.html">Volver al Inicio</a>
  </body>
</html>
